<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Departamentos</title>
    <link rel="stylesheet" th:href="@{/css/AdminController.css}">
</head>
<body>
<h2>Departamentos</h2>

<div style="margin-bottom: 12px;">
    <input id="nuevoNombre" type="text" placeholder="Nombre del departamento" />
    <button id="btnCrear">Crear</button>
    <button id="volver">Volver</button>
</div>

<div id="contenedorDepartamentos"></div>

<script th:src="@{/js/Departamentos.js}"></script>
</body>
</html>